<div class="page-header">
  <h1>Pet2#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= pet2sPath() %>" class="btn btn-info">Back to all Pet2s</a></li>
  <li class="list-inline-item"><a href="<%= editPet2Path({ pet2_id: pet2.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= pet2Path({ pet2_id: pet2.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Name</strong>: <%= pet2.Name %>
</p>
