<div class="page-header">
  <h1>Horses</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newHorsesPath() %>" class="btn btn-primary">Create New Horse</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Age</th>
    <th>Race</th>
    <th>Profession</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (horse) in horses { %>
      <tr>
      <td><%= horse.Name %></td>
        <td><%= horse.Age %></td>
        <td><%= horse.Race %></td>
        <td><%= horse.Profession %></td>
        <td>
          <div class="pull-right">
            <a href="<%= horsePath({ horse_id: horse.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editHorsePath({ horse_id: horse.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= horsePath({ horse_id: horse.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
